/**==================================================
*** 1. Default settings
===================================================**/

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.content {
  flex: 1 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  margin-top: 0;
}

p {
  margin-top: 0;
  color: rgba(0, 0, 0, .75);
  line-height: 1.57;
  font-weight: 300;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

/**==================================================
*** 2. Helper classes
===================================================**/

.underline {
  position: relative;
  padding-bottom: 20px;
}

.underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 2px;
  background: rgb(65, 61, 75);
  transform: translateX(-50%);
}

.btn {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #00dfcf;
  border-radius: 1px;
  color: #00dfcf;
  padding: 10px 15px;
  font-size: 1.142rem;
  line-height: 1;
  cursor: pointer;
  transition: background 0.1s linear, color 0.1s linear;
  margin: 10px;
}

.btn:hover {
  background: #00dfcf;
  color: rgba(27, 16, 68, 0.85);
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 70px 0;
}

.section-header {
  max-width: 700px;
  text-align: center;
  margin: 0 auto 50px auto;
}

.section-title {
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 1;
  letter-spacing: 1px;
  color: #413d4b;
  margin-bottom: 20px;
}

.section-sub-title {
  font-size: 14px;
  color: rgba(0, 0, 0, .75);
  letter-spacing: 1px;
  font-weight: 400;
}

/**==================================================
*** 3. Hero
===================================================**/

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(49, 29, 93, 0.85) 0%,
      rgba(27, 16, 68, 0.85) 50%,
      rgba(9, 5, 48, 0.85) 100%
    ),
    url('../img/hero.jpg') center center no-repeat/cover;
  display: flex;
}

.hero__description {
  margin: auto;
  width: 800px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 2.28rem;
  padding-bottom: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.hero__title:before {
  background: #00dfcf;
}

.hero__sub-title {
  line-height: 1.7;
  letter-spacing: 1px;
  margin-bottom: 45px;
  color: #fff;
}

/**==================================================
*** 4. Header
===================================================**/

.main-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 0;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**==================================================
*** 4.1 Logo
===================================================**/

.logo__link {
  display: block;
  width: 130px;
}

.logo__img {
  display: block;
  max-width: 100%;
}

/**==================================================
*** 4.2 Nav
===================================================**/

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  transition: color 0.1s linear;
}

.nav__link:hover,
.nav__link--active {
  color: #00dfcf;
}

/**==================================================
*** 5. About
===================================================**/

.about__img-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding-left: 50px;
}

.about__description {
  width: 540px;
}

.about__description p {
  margin: 25px 0 0 0;
}

.about__btn {
  margin: 30px 0 0 0;
}

/**==================================================
*** 6. Video
===================================================**/

.video {
  width: 100%;
  height: 550px;
  background: linear-gradient(
    to bottom,
    rgba(49, 29, 93, 0.85) 0%,
    rgba(27, 16, 68, 0.85) 50%,
    rgba(9, 5, 48, 0.85) 100%
  ),
  url('../img/video.jpg') center center no-repeat/cover;
  display: flex;
}

.video__btn-wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__btn {
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 100px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: transform .2s linear;
}

.video__btn:hover {
  transform: rotate(15deg);
}

.video__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.14rem;
  letter-spacing: 1px;
  font-weight: 800;
}

/**==================================================
*** 7. Expertise
===================================================**/

.expertise__sub-title:before {
  background: rgba(65, 61, 75, .3);
}

.expertise__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.expertise__item {
  max-width: 313px;
  flex: 1 0 313px;
  padding: 30px 28px 15px 28px;
  text-align: center;
  border-top: 1px solid #ebebeb;
}

.expertise__item:not(:nth-child(3n)) {
  border-right: 1px solid #ebebeb;
}

.expertise__item:nth-child(1), .expertise__item:nth-child(2), .expertise__item:nth-child(3) {
  border-top: none;
}


.expertise__icon {
  font-size: 50px;
  color: rgb(65, 61, 75);
  display: block;
  margin-bottom: 30px;
}

.expertise__title {
  font-family: 'Roboto', sans-serif;
  color: #413d4b;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 20px;
}

.expertise__item p {
  margin-bottom: 20px;
}


/**==================================================
*** 8. Contacts
===================================================**/

.container--contacts {
  display: flex;
}

.contacts--column {
  flex: 1 0 50%;
}

.contacts__right {
  padding-left: 100px;
}

.contacts__title {
  margin-bottom: 30px;
}

/**==================================================
*** 8.1 Contacts form
===================================================**/

.contacts-form__item {
  margin-bottom: 20px;
  position: relative;
}

.contacts-form__item:before {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 1;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}

.contacts-form__textfield {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1;
  padding: 12px 50px 12px 20px;
  color: rgba(99, 96, 107, .5);
  border: 1px solid rgba(0, 0, 0, .1);
}

.contacts-form__textfield--message {
  height: 200px;
  resize: none;
}

.contacts-form__submit {
  margin-left: 0;
}

.contacts-form__item--name:before {
  content: '\F007';
}

.contacts-form__item--email:before {
  content: '\F112';
}