.feadback{
    width: 100%;
    height: 500px;
    background: $gradient,
    url('../img/feadbackbg.png') center center no-repeat/cover;
    color: #fff;
    text-align: center;
    
    &.section{
      padding: 60px 0 60px 0;
      position: relative;
    }
  }
  
  .feadback--wrapper{
    padding: 0 430px;

    @media screen and (max-width: 1240px){
      padding: 0 250px;
    }

    @media screen and (max-width: 1024px){
      padding: 0 100px;
    }

    @include small-screen{
      padding: 0 60px;
    }

    @include mini-screen{
      padding: 0 40px;
    }

  }
  
  .feadback__title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 7.14rem;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;

    @media screen and (max-width: 1024px){
      font-size: 6rem;
    }
  }
  
  .feadback__quote{
    color: #fff;
    margin-top: 70px;
    margin-bottom: 45px;
  }
  
  .feadback__author,
  .feadback__author-proffesion{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  
  .feadback__author{
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 10px;

    @media screen and (max-width: 1024px){
      font-size: 0.8rem;
    }
  }
  
  .feadback__author-proffesion{
    font-size: 0.93rem;
    font-weight: 300;
    margin-bottom: 40px;

    @media screen and (max-width: 1024px){
      font-size: 0.65rem;
    }
  }
  
  .feadback_quotes-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 60px 0 60px;

    @media screen and (max-width: 700px){
      padding: 0;
    }
  }
  
  .feadback__list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .feadback__item{
    list-style: none;
    display: inline-block;
  }
  
  .feadback__img{
    width: 45px;
    height: 45px;
    margin: 10px;
    transition: width .1s ease-in-out, height .1s ease-in-out;
    
    &:not(.active):hover{
      width: 50px;
      height: 50px;
    }

    @media screen and (max-width: 560px){
      width: 30px;
      height: 30px;
    }
  }
  
  .active{
    width: 70px;
    height: 70px;

    @media screen and (max-width: 560px){
      width: 50px;
      height: 50px;
    }
  }
  
  .arrow{
    font-size: 1.71rem;
    color: #413d4b;
  }