.hero {
    width: 100%;
    height: 100vh;
    background: $gradient,
      url('../img/hero.jpg') center center no-repeat/cover;
    display: flex;
  }
  
  .hero__description {
    margin: auto;
    width: 800px;
    text-align: center;
    padding: 0 25px;
  }
  
  .hero__title {
    font-weight: 900;
    font-size: 2.28rem;
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: #fff;
    
    &:before {
      background: #00dfcf;
    }

    @include tablet{
      font-size: 1.58rem;
    }

    @include small-screen{
      font-size: 1.35rem
    }
  }
  
  
  .hero__sub-title {
    line-height: 1.7;
    letter-spacing: 1px;
    margin-bottom: 45px;
    color: #fff;
  }

  .hero__btn{
    @include tablet{
      font-size: 0.9rem;
    }
  }