.about__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding-left: 50px; }

.about__description {
  width: 540px; }
  .about__description p {
    margin: 25px 0 0 0; }

.about__btn {
  margin: 30px 0 0 0; }
