.expertise__sub-title:before {
  background: rgba(65, 61, 75, 0.3); }

.expertise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content: space-between; */ }

.expertise__item {
  max-width: 313px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 313px;
  flex: 1 0 313px;
  padding: 30px 28px 15px 28px;
  text-align: center;
  border-top: 1px solid #ebebeb; }
  .expertise__item:not(:nth-child(3n)) {
    border-right: 1px solid #ebebeb; }
  .expertise__item:nth-child(1), .expertise__item:nth-child(2), .expertise__item:nth-child(3) {
    border-top: none; }

.expertise__icon {
  font-size: 3.57rem;
  color: #413d4b;
  display: block;
  margin-bottom: 30px; }

.expertise__title {
  font-family: 'Roboto', sans-serif;
  color: #413d4b;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 20px; }

.expertise__item p {
  margin-bottom: 20px; }
