.footer__description {
  padding-left: 10px; }
  .footer__description .logo {
    margin-bottom: 20px; }
  .footer__description p {
    color: #fff;
    width: 300px;
    margin-bottom: 75px; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  list-style: none; }

.footer__item {
  display: inline-block; }

.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff; }
  .footer__link:hover {
    color: #00dfcf; }
