.footer__studio{
    p{
        color: #fff;
        font-size: 1rem;
    }

    @include tablet{
        margin-bottom: 35px;
    }
}



.footer__studio-item{
    display: flex;

    p{
        width: 240px;
        margin-left: 10px;

        @include tablet{
            width: 500px;
        }
    }
}

.footer__studio-link{
    text-decoration: none;
    color: #fff;
}