.main-footer{
    background: $gradient,
    url('../img/footerbg.png') center center no-repeat/cover;
    padding: 65px 0;
}

.footer{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1rem;
}
