.nav{
  @include normal{
    padding-right: 15px;
  }

}

.nav__list {
    display: flex;
  }

.nav__item{
    &:not(:last-child) {
      margin-right: 20px;
      
      @include normal{
        margin-right: 15px;
      }

      @include tablet{
        margin-right: 10px;
      }
    }
}
  
  .nav__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: color 0.1s linear;
    
    &:hover{
      color: #00dfcf;
    }
    
    @include normal{
      font-size: 0.7rem;
    }

    @include tablet{
      font-size: 0.56rem;
    }

    @include small-screen{
      font-size: 0.37rem;
    }
  }

  .nav__link--active{
    color: #00dfcf;
  }