.nav__list {
    display: flex;
  }

.nav__item{
    &:not(:last-child) {
      margin-right: 20px;
    }
}
  
  .nav__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: color 0.1s linear;
    
    &:hover{
      color: #00dfcf;
    }
  }

  .nav__link--active{
    color: #00dfcf;
  }