.container--contacts {
    display: flex;
  }
  
  .contacts--column {
    flex: 1 0 50%;
  }
  
  .contacts__right {
    padding-left: 100px;
  }
  
  .contacts__title {
    margin-bottom: 30px;
  }
  
  