.contacts-form__item {
    margin-bottom: 20px;
    position: relative;
    
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.43rem;
      line-height: 1;
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
    }
  }
  
  
  .contacts-form__textfield {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1;
    padding: 12px 50px 12px 20px;
    color: rgba(99, 96, 107, .5);
    border: 1px solid rgba(0, 0, 0, .1);
  }
  
  .contacts-form__textfield--message {
    height: 200px;
    resize: none;
  }
  
  .contacts-form__submit {
    margin-left: 0;
  }
  
  .contacts-form__item--name:before {
    content: '\F007';
  }
  
  .contacts-form__item--email:before {
    content: '\F112';
  }