* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    min-height: 100vh;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    @include normal{
      font-size: 0.85rem;
    }

    @include tablet{
      font-size: 0.8rem;
    }

    @include small-screen{
      font-size: 0.7rem;
    }
  }
  
  .content {
    flex: 1 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', serif;
    margin-top: 0;
  }
  
  p {
    margin-top: 0;
    color: rgba(0, 0, 0, .75);
    line-height: 1.57;
    font-weight: 300;
  }
  
  .container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;

    @include normal{
      width: 700px;
    }

    @include tablet{
      width: 560px;
    }

    @include small-screen{
      width: 375px;
      margin: 0 20px;
    }

    @include mini-screen{
      width: 250px;
      margin: 0 3px;
    }

  }
  