.underline {
    position: relative;
    padding-bottom: 20px;
    
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50px;
      height: 2px;
      background: rgb(65, 61, 75);
      transform: translateX(-50%);
    }
  }
    
 .btn {
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #00dfcf;
    border-radius: 1px;
    color: #00dfcf;
    padding: 10px 15px;
    font-size: 1.142rem;
    line-height: 1;
    cursor: pointer;
    transition: background 0.1s linear, color 0.1s linear;
    margin: 10px;
    
    &:hover {
      background: #00dfcf;
      color: rgba(27, 16, 68, 0.85);
    }

    @include tablet{
      font-size: 1rem;
    }

    @include small-screen{
      font-size: 0.9rem;
    }
  }
  
  
 .reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 .section {
    padding: 70px 0;
  }
  
.section-header {
    max-width: 700px;
    text-align: center;
    margin: 0 auto 50px auto;
  }
  
.section-title {
    text-transform: uppercase;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 1px;
    color: #413d4b;
    margin-bottom: 20px;

    @include tablet{
      font-size: 1.2rem;
    }

    @include small-screen{
      font-size: 1rem;
    }
  }
  
.section-sub-title {
    font-size: 1rem;
    color: rgba(0, 0, 0, .75);
    letter-spacing: 1px;
    font-weight: 400;
  }
  